.label{
	-fx-font-size: 14px;
	-fx-text-fill: #333333;
	-fx-font-weight: bold;
}
.lblMenuOption {
    -fx-font-size: 60px;
    -fx-text-fill: #333333;
    -fx-font-weight: light;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1.01;
}

/* Component specific styles */


.main-panel {
    -fx-background-image: url("../images/background.jpg");
}


.lblMenuOption:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}